fastapi==0.120.127
uvicorn[standard]==0.38.0
python-dotenv==0.21.0
firebase-admin==7.1.0
PyMySQL==1.1.1
SQLAlchemy==2.0
mysqlclient==2.2.7
aiomysql==0.3.2
aiohttp==3.13.1
pydantic-settings==2.11.0
pydantic[email]==2.11.7