fastapi==0.120.2
uvicorn[standard]==0.38.0
python-dotenv==1.2.1
firebase-admin==7.1.0
PyMySQL==1.1.2
SQLAlchemy==2.0.44
mysqlclient==2.2.7
aiomysql==0.3.2
aiohttp==3.13.2
pydantic-settings==2.11.0
pydantic[email]==2.12.3